@import "tailwindcss";

@import "tw-animate-css";
@import "pretendard/dist/web/static/pretendard.css";

/* 전체 페이지 Pretendard 적용 */
html,
body,
#root {
  width: 100%;
  height: 100vh;
  font-family: "Pretendard", ui-sans-serif, system-ui;
}
